extends layout

block content
  div.wrap
    div.header
      div.top
        a(href="#") 新闻
        a(href="#") hao123
        a(href="#") 地图
        a(href="#") 视频
        a(href="#") 贴吧
        a(href="#") 学术
        a(href="#") 登录
        a(href="#") 设置
        a.cp(href="#") 更多产品
    div.content
      div.logo
        img(src="images/logo.png")
      div.search
        input(type="text")
        button 百度一下

